body  { font-family: Arial, sans-serif; font-size: 12pt; background-color:rgb(90,140,224); }
h1    { font-size: 26pt; color:blue; text-align:center; margin:5px }
p     { font-size: 12pt; color:black }

input, select, textarea, button { 
  font-family:inherit; 
  background-color: white;
  border: 2px outset #999999 
}

a:hover, select:hover, input:hover, textarea:hover, button:hover {
    background-color: lightblue;
}

* {
   padding:0;
   margin:0;
   border:0;
   
   /* Support box-sizing consistently on    */
   /* Firefox, Safari/WebKit, Opera and IE8 */
   /* Note: border-box might be easier to work with but is a less intuitive choice than the */
   /* W3C standard of content-box. It's probably better to start thinking the W3C way from the outset */
   /* Later note: the W3C standard does not seem to have yet asserted itself so sticking with border box. */
   -moz-box-sizing:border-box;
   -webkit-box-sizing:border-box;
   -webkit-appearance: none;
}

.banner {
	white-space:nowrap;
	min-width:850px;
	margin: 50px;
}

.main {
	display:inline;
	vertical-align:top;
	width:100%;
	min-width:300px;
}
